---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "../_sass/mixins";

@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,600italic,400italic,200italic,200);

body{
  font-family: 'Libre Franklin', 'Helvetica Neue', 'Helvetica', sans-serif;
}

$black: #333;


$primary-color: rgba(58, 83, 155, 1.0);
$primary-color-tranlucent: rgba(58, 83, 155, .22);

$dark-primary: rgba(44, 62, 80, 1.0);
$light-primary: rgba(92, 151, 191, 1.0);

$dark-gray: #95A5A6;
$faint-gray: rgba(238, 238, 238,1);
$faint-gray-tranlucent: rgba(238, 238, 238, .5);
$light-gray: rgba(210, 215, 211, 1);
$light-gray-translucent: rgba(210, 215, 211, .5);

$med-gray: rgba(191, 191, 191, 1);
$med-gray-translucent: rgba(191, 191, 191, .5);


$med-screen:  750px;
$lg-screen:   1000px;
$xl-screen:  2000px;

$nav-height: 80;
$nav-height-mobile: $nav-height * .75;

$hamburger-line-color: #333;
$hamburger-hover-color: $light-gray; 

$highlight-color: rgba(247, 202, 24, 1.0);

// Import partials from `sass_dir` (defaults to `_sass`)

$secondary-color: #96281B;
$translucent-secondary: rgba(231, 76, 60, .33);

$tertiary-color: rgba(247, 202, 24, 1.0);

$site-border-radius: 2px;

// =========================
// typography

*{
  box-sizing: border-box
}

body{margin: 0;}
img {max-width: 100%;}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
  font-weight: 400;
}


hr.breaker{
  display: block !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}



body {
  font-size: 1rem; /* equivalent to 16px */
  line-height: 1.25; /* equivalent to 20px */
  
  @include media-query($med-screen){
    font-size: 1rem; /* equivalent to 16px */
    line-height: 1.625; /* equivalent to 22px */
  }
}

// =========================
// Typography

h1,h2,h3,h4,h5,h6{
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;/* 2x body copy size = 32px */
  line-height: 1.25; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 2.5rem;  /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

  @include media-query($lg-screen){
    font-size: 3rem;     /* 3x body copy size = 48px */
    line-height: 1.05; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625rem;/* 2x body copy size = 32px */
  line-height: 1.1538; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 2rem;  /* 2.5x body copy size = 40px */
    line-height: 1.25;
  }

  @include media-query($lg-screen){
    font-size: 2.25rem;     /* 3x body copy size = 48px */
    line-height: 1.25; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

h3 {
  font-size: 1.375rem;/* 2x body copy size = 32px */
  line-height: 1.136363; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 1.5rem;  /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

  @include media-query($lg-screen){
    font-size: 1.75rem;     /* 3x body copy size = 48px */
    line-height: 1.05; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

h4 {
  font-size: 1.125rem;/* 2x body copy size = 32px */
  line-height: 1.136363; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 1.125rem;  /* 2.5x body copy size = 40px */
    line-height: 1.222222;
  }

  @include media-query($lg-screen){
    font-size: 1.125rem;     /* 3x body copy size = 48px */
    line-height: 1.222222; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

p{
  margin-bottom: 1.5rem;
  font-weight: 400;
}



// =========================
// Lists

ul, ol{
  padding-left: 1.25rem;
  margin: .5rem 0; 

  ul, ol{
    margin: 0rem 0 .5rem 0;
  }
}

ul {
  > li {
    padding-left: .25rem;
  }
  
  ul{
    padding-left: .75rem
  }

}

ol{
  >li {
    padding-left: .5rem;
  }
  ol{
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

// =========================
// Text Formatting

mark{
  background: $highlight-color;
  padding: 0 .2em;
}

small{
  font-size: .75rem;
}

a {
  color: $light-primary;
  cursor: pointer;

  &:hover{
    color: $primary-color;
  }
}

del {
  text-decoration: line-through;
}

.txt-muted{
  color: $dark-gray;
}

// =========================
// Button styles


input[type='button'], 
input[type='submit']{
  -webkit-appearance: none;
}

button, button.btn, input[type='button'], input[type='submit'], a.btn{background: #fff;
  margin-bottom: .5rem;
  outline: 0;
  border: 1px solid #333;
  line-height: 2.5rem;
  padding: 0 1rem;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  
  &.sm { font-size: .75rem; line-height: 1.875rem; }
  &.lg { 
    font-size: 1.5rem; 
    line-height: 3.75rem; 
    padding: 0 1.25rem;

    @include media-query($med-screen){
      padding: 0 1.5rem;

    }
  } 

  &:hover{
    background: #D2D7D3;
  }

  &.primary{
    background: $primary-color;
    color:#fff;

    &:hover{
      background: $light-primary;
    }
  }
}


// =========================
/* Body Content - container */

.container-narrow{
  max-width: 960px;
  padding: 0 5px;
  margin: 0 auto;
  width: 95%;
  @include media-query($med-screen){ width: 95%; }
  @include media-query($lg-screen){ width: 90%; }
  .container-narrow{
    width: 100%;
  }
}

.container-full{
  width: 100%;
}

// =========================
// Grid
.grid-container {
  $col-1: 1/12;
  $col-2: 2/12;
  $col-3: 3/12;
  $col-4: 4/12;
  $col-5: 5/12;
  $col-6: 6/12;
  $col-7: 7/12;
  $col-8: 8/12;
  $col-9: 9/12;
  $col-10: 10/8;
  $col-11: 11/12;
  $col-12: 12/12;
  
  font-size: 0;
  
  >* {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
  }
  
  $gutter-size: 1.5/100;
  
  @for $i from 1 through 12{
    > .sm-#{$i}-x-12{width: #{($i/12-$gutter-size)* 100%}; margin-left: $gutter-size/2 * 100%; margin-right: $gutter-size/2 * 100%;}
  }    

  @include media-query($med-screen){
    @for $i from 1 through 12{
       > .md-#{$i}-x-12{width: #{($i/12-$gutter-size)* 100%}; margin-left: $gutter-size/2 * 100%; margin-right: $gutter-size/2 * 100%;}
    }  
  }

  @include media-query($lg-screen){
    @for $i from 1 through 12{
       > .lg-#{$i}-x-12{width: #{($i/12-$gutter-size)* 100%}; margin-left: $gutter-size/2 * 100%; margin-right: $gutter-size/2 * 100%;}
    }  
  }


  &.adjacent{
    @for $i from 1 through 12{
        > .sm-#{$i}-x-12{width: #{$i/12* 100%}; margin-left: 0; margin-right: 0;}
      }

    @include media-query($med-screen){
      @for $i from 1 through 12{
        > .md-#{$i}-x-12{width: #{$i/12* 100%}; margin-left: 0; margin-right: 0;}
      }
    }

    @include media-query($lg-screen){
      @for $i from 1 through 12{

        > .lg-#{$i}-x-12{width: #{$i/12* 100%}; margin-left: 0; margin-right: 0;}
      }
    }
  } 
}

// =========================
// Form Group

form.form-group{
  display: block;
  font-size: 0;
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  select{
    padding: 0 .75rem;
    height: 2.5rem;

  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  select,
  textarea{
    width: 100%;
    line-height: 1.5;
    outline: 0;
    border: $med-gray 1px solid;
    font-size: 1rem;
    border-radius: $site-border-radius;
    margin-bottom: 1.25rem;
    background: #fff;

    &:focus{
      border: 1px solid $light-primary;
    }
  }

  textarea{
    padding: .5rem .75rem;
    &:focus{
      border: 1px solid $light-primary;
    }
  }

  .form-field{
    label{
      display: block;
      font-weight: 700;
      margin-bottom: .5rem;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    select,
    textarea{
      display: block;
    }
  }

}




// =========================
// Hero

header.hero{
  width: 100%;
  background: $faint-gray;
  padding-top: 30px;
  min-height: 330px;
  max-height: 800px;

  height: 30vh;
  @include media-query($med-screen){
    height: 40vh;
    min-height: 400px;
    padding-top: 55px;
  }

  @include media-query($lg-screen){
    height: 60vh;
    padding-top: 100px;
    min-height: 550px;

  }

  .title,
  .subtitle{
    margin: .5rem 0;
  }

  .title {
    font-size: 2.5rem;/* 2x body copy size = 32px */
    line-height: 1.25; /* 45px / 36px */
    
    margin: .5rem 0;

    @include media-query($med-screen){
      font-size: 3.125rem;  /* 2.5x body copy size = 40px */
      line-height: 1.125;
    }

    @include media-query($lg-screen){
      font-size: 4rem;     /* 3x body copy size = 48px */
      line-height: 1.05; 
        /* keep to a multiple of the 20px line height 
        and something more appropriate for display headings */
    }
  }
  .subtitle{
    margin: .5rem 0 1.25rem 0;
  }
  
  
 
}

// =========================
// Table

table{
  border-collapse: collapse;
  table-layout: fixed;
  margin: 1rem 0; 

  &.full-width {
    width: 100%;
    max-width: 100%;
  }

  thead,
  tbody{
    display: block;
    overflow-x: scroll;

  }
  
  th:first-child,
  td:first-child{
    padding-left: .375rem;
  }
  
  th,
  td {
    text-align: left;
    padding: .75rem 0 .75rem 2rem;
  }
  
  thead th{
    border-bottom: $dark-gray 1px solid;
  }

  tbody td{
    border-bottom: $dark-gray 1px solid;
  }
  &.striped{
    tbody tr:nth-child(2n){
      background: $faint-gray;
    }
  }

}

// =========================
// Nav

$sq-size: 30px; 
$line-size: 5px;

.nav-bar {
  $side-padding: 10px;
  $logo-size: 200px;

  width: 100%;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  padding: 0;
  position: relative;
  height: #{$nav-height-mobile}px;
  
  @include media-query($med-screen){
    padding: 0 $side-padding 0 $side-padding;
    height: #{$nav-height }px;

  }
  
  

  &.lg{
    @include media-query($med-screen){
       height: #{$nav-height * 1.5 + 2}px;
      .nav-list{ 
        height: #{$nav-height * 1.5 }px;
        > * {
          height: #{$nav-height-mobile}px;
          line-height: #{$nav-height-mobile}px;
        }
      }
    }
  }

  &.fixed {
      position: fixed;
      z-index: 200;
      top: 0;
      left: 0;
      width: 100%;
  }

  &.with-logo{
    @include media-query($med-screen){
      padding: 0 $side-padding 0 $logo-size;
    }
    .nav-logo{
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      max-width: $logo-size;
      transform: translate(0, -50%);
      padding-left: $side-padding;
      font-size: 1.375rem;
      img{
        display: block;
        width: 20px;

        @include media-query($med-screen){
          width: 60px;
        }    
      }
    }
  }



  .nav-list {
    max-height: 0px;
    overflow: hidden;
    transition: opacity .7s;
    opacity: 0;

    >*{
      display: block; 
      padding: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark-gray;
      cursor: pointer;
      font-size: 1rem;
      &:hover, &:active{
        background: $faint-gray;
        outline: 0;
      }

    }

    @include media-query($med-screen){
      height: #{$nav-height}px;
      opacity: 1;

      max-height: initial;
      list-style: none;
      margin: 0;
      text-align: right;
      float: right;

      >*{
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        height: #{$nav-height}px;
        font-weight: 700;
        line-height: #{$nav-height}px;
        cursor: pointer;
        font-size: .75rem;
        padding: 0 1.5rem 0 .375rem;
        
        &.active{
          border-bottom: 2px solid $dark-gray;
        }


      }
    }
    @include media-query($lg-screen){
      > * {
        font-size: .875rem;
        padding: 0 2rem 0 .5rem;

      }
    }
  }

}

.nav-bar{

  input.hamburger-toggler,
  .hamburger-menu {
    @include media-query($med-screen){
      display: none;
    }
  }

  input.hamburger-toggler{
    opacity: 0;
    cursor: pointer;

    @include overlay-style($sq-size, $sq-size, 2){
      right: 10px;
      background: #393;
      margin: 0;
    }

    &:checked ~ .nav-list{
      position: absolute;
      width: 100%;
      max-height: 1000px;
      opacity: 1;
      transition: opacity .7s;

      top: #{$nav-height-mobile - 1}px;
      z-index: 4;
      background: rgba(255,255,255,.95);
      @include media-query($med-screen){
        top: 0px;
        position: relative;
      }
    }
  
    &:hover ~ .hamburger-menu{
      > span.line{
        background: $hamburger-hover-color;
      }
     
    }


    &:checked ~ .hamburger-menu{
      > span.line{
        background: $hamburger-hover-color;
        &:nth-child(1){top: 50%; left: 0; transform: translate(0, -50%) rotate(45deg);}
        &:nth-child(2){top: 50%; left: 0; transform: translate(0, -50%) rotate(45deg);}
        &:nth-child(3){top: 50%; left: 0; transform: translate(0, -50%) rotate(-45deg);}
      }
      
    }

    &:hover:checked ~.hamburger-menu {
      > span.line{
        background: $dark-gray;
      }
    }
  }
}

.hamburger-menu{

  @include overlay-style($sq-size, $sq-size, 1){
    right: 15px;
  }

  height: $sq-size;
  transition: all .2s;
  cursor: pointer;

  > span.line{
    margin: 0;
    position: absolute;
    top: 50%; left: 0;
    border: 0;
    background: $hamburger-line-color;
    height: $line-size;
    width: 100%;
    transition: all .2s;
    transform: translate(0,-50%);

    &:nth-child(1){top: 10%; left: 0;}
    &:nth-child(2){top: 50%; left: 0; }
    &:nth-child(3){top: 90%; left: 0;}

  }
}


// =========================
// Segment
section.segment {
  position: relative;
  box-shadow: 0 1px 2px 0 $med-gray-translucent;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid $med-gray;
  
  > *:first-child{
    margin-top: 0;

  }

  > *:last-child,{
    margin-bottom: 0; 

  }
}

// =========================
// Thumbnail Card

figure.tn-card{
  max-width: 270px;
  margin: .5rem auto;
  border: $med-gray 1px solid;
  box-shadow: 0 1px 2px 0 $med-gray-translucent;
  border-radius: 3px;
  position: relative;


  > img.card-image, img{
    width: 100%;
    display: block;

  }

  > figcaption{
    padding: .75rem .5rem;
    line-height: 1.25;

    > *:first-child{
      margin-top: 0;
    }
    > *:last-child{
      margin-bottom: 0; 
    }

    h1,h2,h3,h4,h5,h6,p{
      margin: .625rem 0;
    }
    
  }

  > figcaption.more-info{
    border-top: 1px solid $med-gray;
    padding: .5rem .5rem;
    font-size: .75rem;
    color: $dark-gray;
  }
}

// =========================
// Block Quotes

blockquote {
  border-left: $med-gray .5rem solid;
  background: $faint-gray;
  padding: 1.25rem 1rem;
  font-size: 1.125rem;
  

  > * {
    margin: .5rem;
  }

  > *:first-child{
    margin-top: 0;
  }

  > *:last-child,{
    margin-bottom: 0; 
  }

  cite {
    display: block;
    margin-top: 1.5rem;
    &:before{
      content: "— ";
    }
    
    color: $dark-gray;
    text-indent: -.75rem;
    margin-left: .75rem;

    font-size: 1rem;
    font-style: normal;
  }
  
}

// =========================
// Code Formatting

pre {
  margin: 1rem auto;
  overflow: auto;
  width: 90%;
  background: $faint-gray;
  padding: 1rem;
  font-size: 1rem;

  @include media-query($med-screen){
    font-size: 1.125rem;
  }
  @include media-query($lg-screen){
    font-size: 1.25rem;
  }

}


code {
  background: $faint-gray;
  color: $secondary-color;
  padding: .1em .2em;
  margin: 0 1px;
  font-size: 1.125em;
  font-family: monospace;
}


// ***********************************
// ***********************************
// ***********************************
// ***********************************
// Site Styles

@import "../_sass/site-styles";
