---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "../_sass/mixins";

@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,600italic,400italic,200italic,200);

body{
  font-family: 'Libre Franklin', 'Helvetica Neue', 'Helvetica', sans-serif;
}


$primary-color: rgba(58, 83, 155, 1.0);
$light-primary: rgba(58, 83, 155, .22);

$alt-primary: rgba(92, 151, 191, 1.0);
$light-gray: #D2D7D3;
$med-gray: #BFBFBF;
$med-screen:  750px;
$lg-screen:   1000px;
$xl-screen:  2000px;
// Import partials from `sass_dir` (defaults to `_sass`)

$secondary-color: #96281B;
$light-secondary: rgba(231, 76, 60, .33);

$tertiary-color: rgba(244, 179, 80, 1.0);

// =========================
// typography

*{
  box-sizing: border-box
}

body{margin: 0;}
img {max-width: 100%;}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 1rem;
}

p{
  margin-bottom: 1.5rem;
  font-weight: 400;
}

ul, ol{
  padding-left: 1rem;
  > li{
    padding-left: .5rem;
  }
}


ol{
  ol{
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

a {
  color: $alt-primary;

  &:hover{
    color: $primary-color;
  }
}

body {
  font-size: 1em; /* equivalent to 16px */
  line-height: 1.25; /* equivalent to 20px */
  
  @include media-query($med-screen){
    font-size: 1em; /* equivalent to 16px */
    line-height: 1.625; /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;/* 2x body copy size = 32px */
  line-height: 1.25; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 2.5em;  /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

  @include media-query($lg-screen){
    font-size: 3em;     /* 3x body copy size = 48px */
    line-height: 1.05; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;/* 2x body copy size = 32px */
  line-height: 1.1538; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 2em;  /* 2.5x body copy size = 40px */
    line-height: 1.25;
  }

  @include media-query($lg-screen){
    font-size: 2.25em;     /* 3x body copy size = 48px */
    line-height: 1.25; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

h3 {
  font-size: 1.375em;/* 2x body copy size = 32px */
  line-height: 1.136363; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 1.5em;  /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

  @include media-query($lg-screen){
    font-size: 1.75em;     /* 3x body copy size = 48px */
    line-height: 1.05; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

h4 {
  font-size: 1.125em;/* 2x body copy size = 32px */
  line-height: 1.136363; /* 45px / 36px */
  
  @include media-query($med-screen){
    font-size: 1.125em;  /* 2.5x body copy size = 40px */
    line-height: 1.222222;
  }

  @include media-query($lg-screen){
    font-size: 1.125em;     /* 3x body copy size = 48px */
    line-height: 1.222222; 
      /* keep to a multiple of the 20px line height 
      and something more appropriate for display headings */
  }
}

small{
  font-size: .625em;
}

// =========================
// Grid
.grid-container {
  $col-1: 1/12;
  $col-2: 2/12;
  $col-3: 3/12;
  $col-4: 4/12;
  $col-5: 5/12;
  $col-6: 6/12;
  $col-7: 7/12;
  $col-8: 8/12;
  $col-9: 9/12;
  $col-10: 10/8;
  $col-11: 11/12;
  $col-12: 12/12;
  
  font-size: 0;
  
  >* {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
  }
  @for $i from 1 through 12{
      > .sm-#{$i}-x-12{width: #{$i/12* 100%};}
    }

  @include media-query($med-screen){
    @for $i from 1 through 12{
      > .md-#{$i}-x-12{width: #{$i/12* 100%};}
    }
  }

  @include media-query($lg-screen){
    @for $i from 1 through 12{

      > .lg-#{$i}-x-12{width: #{$i/12* 100%};}
    }
  }


  &.guttered{
      $gutter-size: 1.5/100;
      padding-left: $gutter-size * 100%;
      
      @for $i from 1 through 12{
        > .sm-#{$i}-x-12{width: #{($i/12-$gutter-size)* 100%}; margin-right: $gutter-size * 100%;}
      }    

      @include media-query($med-screen){
        @for $i from 1 through 12{
           > .md-#{$i}-x-12{width: #{($i/12-$gutter-size)* 100%}; margin-right: $gutter-size * 100%;}
        }  
      }

      @include media-query($lg-screen){
        @for $i from 1 through 12{
           > .lg-#{$i}-x-12{width: #{($i/12-$gutter-size)* 100%}; margin-right: $gutter-size * 100%;}
        }  
      }
  } 
}


/* Body Content - container */
.container-narrow{
  max-width: 960px;
  padding: 0 5px;
  margin: 0 auto;
  @include media-query($med-screen){ width: 80%; }
  @include media-query($lg-screen){ width: 85%; }
  .container-narrow{
    width: 100%;
  }
}

mark{
  background: rgba(247, 202, 24, 1.0);
  padding: 0 .2em;
}

code {
  background: $light-gray;
  color: $secondary-color;
  padding: .1em .2em;
  margin: 0 1px;
}

.container-full{
  width: 100%;
}

// =========================
// Nav

.mobile-only.hamburger-menu{
  position: absolute;
  display: block;
  top: 50%; 
  right: 10px;
  transform: translate(0,-50%);
  @include media-query($med-screen){
    display: none;
  }
}

.navbar {
  $nav-height-mobile: 60;
  $nav-height-med: 80;
  $side-padding: 10px;

  width: 100%;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0 $side-padding 0 200px;
  position: relative;
  height: #{$nav-height-med}px;
  

  &.navbar-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
  }

  .nav-logo{
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    max-width: 200px;
    transform: translate(0, -50%);
    padding-left: $side-padding;
    font-size: 1.375rem;
  }

  .nav-list {
      height: #{$nav-height-med}px;
      list-style: none;
      margin: 0;
      text-align: right;
      float: right;
      >*{
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        height: #{$nav-height-med}px;
        font-size: .75rem;
        font-weight: 700;
        line-height: #{$nav-height-med}px;
        cursor: pointer;
        >* { 
          display: block;
          padding-right: 30px;

          text-decoration: none; 
        }

        &:hover{
          background: $med-gray;
        }
      }
  }

  .nav-item {
      position: relative;
      display: inline-block;
      text-align: center;
      margin-bottom: 0;
  }

  .nav-item:hover {
      background: #ddd;
  }

  .navbar-link {
      display: block;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: .2rem;
      text-decoration: none;
      line-height: 5rem;
      color: #222;
      padding-right: 35px;
      padding-left: 10px;
  }
  .navbar-link.active {
      color: #33C3F0;
  }
}

button, input[type='button'], input[type='submit'], a.button{
  background: #fff;
  margin-bottom: .5rem;
  outline: 0;
  border: 1px solid #333;
  line-height: 2.5rem;
  padding: 0 1rem;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  
  &.sm { font-size: .75em; line-height: 1.875rem; }
  &.lg { font-size: 1.5em; line-height: 3.75rem; padding: 0 1.5rem;} 

  &:hover{
    background: #D2D7D3;
  }

  &.primary{
    background: $primary-color;
    color:#fff;

    &:hover{
      background: $alt-primary;
    }
  }
}

.hamburger-menu{
  $sq-size: 30px; 
  $line-size: 6px;
  $line-color: #333;
  $hover-color: $light-gray; 
  border-top: $line-size solid $line-color;
  height: $sq-size;
  border-bottom: $line-size solid $line-color;
  width: $sq-size;
  position: relative;
  transition: all .2s;
  cursor: pointer;
  top: $sq-size/2;

  > .mid-line{
    margin: 0;
    position: absolute;
    top: 50%; left: 0;
    transform: translate(0,-50%);
    border: 0;
    background: $line-color;
    height: $line-size;
    width: 100%;
    transition: all .2s;

  }

  &.open{
    border-top: $line-size solid $hover-color;
    border-bottom: $line-size solid $hover-color;
    > .mid-line{
      background: $hover-color;
      transform: translate(-50%,-50%);
      left: 50%;
      width: 33%;
    }
  }

  &:hover{
    border-top: $line-size solid $hover-color;
    border-bottom: $line-size solid $hover-color;
    > .mid-line{
      background: $hover-color;
    }
  }
}


// ***********************************
// ***********************************
// ***********************************
// ***********************************
// Site Styles
$general-site-padding: 3px;

$light-secondary: rgba(231, 76, 60, .33);
$strong-header: $primary-color;
$weak-header: $alt-primary;
$header-bg: #eee;
$example-color: rgba(171, 183, 183, 1.0);
$example-color-translucent: rgba(171, 183, 183, .75);

h3.site-lg-code-example{ 
  margin: 0;
}


.container-narrow.site-demo, .container-full.site-demo{
  padding: $general-site-padding;
  border: 1px $example-color-translucent dotted;
}

.grid-container.site-demo{
  border: 1px solid $light-secondary;
  margin-bottom: 2rem;
}
.grid-container.site-demo > *{
  text-align: center;
  padding: 10px;
  background: #ddd;
  border: 1px solid #343;

  .grid-sz{
    font-weight: 200;
    transition: all .1s;
    opacity: .7;

    &.active{
      font-weight: 700;
      font-size: 1.25em;
      opacity: 1.0;
    }

  }
}

.major-section{
  background: $header-bg;
  border-left: 6px solid $weak-header;
}

.header{
  padding: $general-site-padding;
  color: $strong-header;
  font-weight: 200;
  @include media-query($med-screen){
    font-size: 3em;  
  }
  @include media-query($lg-screen){
    font-size: 6em;  
  }
}

.subheader{
  padding: $general-site-padding;
  color: $weak-header;

}

.sub-subheader{
  margin-top: 0;
  padding: $general-site-padding + 2px;
  background: $light-primary;
}


.explanation{

  font-size: 1.125em;/* 2x body copy size = 32px */
  padding: $general-site-padding;

  @include media-query($med-screen){
    font-size: 1.125em;  /* 2.5x body copy size = 40px */
  }

  @include media-query($lg-screen){
    font-size: 1.125em;  
  }
}


.example-text{
  padding: 3px;
  color: $example-color;
}

.dual-example {
  > * { padding: 10px; }

  > *:nth-child(odd){
    border-bottom: 2px solid $example-color;
    @include media-query($lg-screen){
      border-bottom: 0;
      border-right: 2px solid $example-color;
    }
  }
}

.button-sizes button{
  vertical-align: top;
}

