---
layout: default
title: Docs
permalink: /documentation.html
navigable: false
---
<aside class="sidebar bg-inverted demo-docs-sidebar">
    <div class="navbar-spacer"></div>
    <div class="sidebar-content">
      <h4 class="sidebar-title">Major Categories</h4>
      <a class="sidebar-topic"href="#docs-layout">Layout</a>
      <a class="sidebar-subtopic" href="#docs-containers">Containers</a>
      <a class="sidebar-subtopic" href="#docs-grid">Grid System</a>

      <a class="sidebar-topic" href="#docs-formatting">Formatting</a>
      <a class="sidebar-subtopic" href="#docs-typography">Typography</a>
      <a class="sidebar-subtopic" href="#docs-buttons">Buttons</a>
      <a class="sidebar-subtopic" href="#docs-lists">Lists</a>

      <a class="sidebar-topic" href="#docs-tables-forms">Tables + Forms</a>
      <a class="sidebar-subtopic" href="#docs-tables">Tables</a>
      <a class="sidebar-subtopic" class="sidebar-subtopic" href="#docs-forms">Forms</a>

      <a class="sidebar-topic" href="#docs-components">Components</a>
      <a class="sidebar-subtopic" href="#docs-segment">Segment</a>
      <a class="sidebar-subtopic" href="#docs-quotes">Blockquotes</a>
      <a class="sidebar-subtopic" href="#docs-tiles">Responsive Tiles</a>

      <a class="sidebar-topic" href="#docs-misc">Misc</a>
      <a class="sidebar-subtopic" href="#docs-context-colors">Context Colors</a>
      <a class="sidebar-subtopic" href="#docs-text-helpers">Text Helpers</a>
      <a class="sidebar-subtopic" href="#docs-code">Code Formatting</a>
    </div>
</aside>


<div class="container-full site-docs-page">
      <p></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="site-demo-header">
        <img src="./images/molecule2.png" alt="logo" class="site-logo">
        <h1 class="title" style=" font-size">Documentation <br/><small style="font-size: .5em; color: rgba(92, 151, 191, 1.0); ">Margo CSS</small></h1>
      </div>

      <div style="position: relative"><a name="docs-layout"></a></div>

      <div class="container-full major-section">
        <h1 class="site-header layout">Layout</h1>
      </div>

	      {% include docs-containers.html %}
	      {% include docs-grid.html %}

      <div style="position: relative"><a name="docs-formatting"></a></div>
      <div class="container-full major-section">
        <h1 class="site-header">General Formatting</h1>
      </div>

      <div style="position: relative"><a name="docs-typography"></a></div>
      <div class="M-container_narrow formatting">
    <!--       <div class="M-container_narrow"> -->
            <h3 class="site-subheader">Typography</h3>
            <div class="grid-container guttered dual-example">
              <div class="sm-12-of-12 lg-6-of-12">
                <h4 class="site-sub-subheader"><strong>Heading Tags</strong></h4>
                <h1>Heading : &lt;h1&gt; </h1>
                <h2>Heading : &lt;h2&gt; </h2>
                <h3>Heading : &lt;h3&gt; </h3>
                <h4>Heading : &lt;h4&gt; </h4>
                <h5>Heading : &lt;h5&gt; </h5>
                <h6>Heading : &lt;h6&gt; </h6>
              </div>
              <div class="sm-12-of-12 lg-6-of-12">
                <h4 class="site-sub-subheader"><strong>Text Formats</strong></h4>

                  <p>The text <em>right here</em> is inside of a &lt;p&gt; tag. All font sizes and line heights are calculated based on rems. If you want to change the default font-size, you can set a baseline font-size value on the <code>html</code> and all of the typography will scale accordingly.  The standard paragraph text is sized at 1rem. And the default line-height is set to 1.625 on tablet/desktop for ideal legibility and 1.25 on mobile to accomodate the lesser screen height.</p>

                  <div class="grid-container site-text-formats">
                    <div class="sm-6-of-12 md-4-of-12">
                      <a href="#"> link example</a>
                      <br/>
                      ( in<code>&lt;a&gt;</code> tag )
                    </div>
                    <div class="sm-6-of-12 md-4-of-12">
                      <code>code syntax</code>
                      <br/>
                      ( in<code>&lt;code&gt;</code> tag )
                    </div>
                    <div class="sm-6-of-12 md-4-of-12">
                      <mark>highlighted text</mark>
                      <br/>
                      ( in <code>&lt;mark&gt;</code> tag )
                    </div>
                    <div class="sm-6-of-12 md-4-of-12">
                      <del>line-through text</del>
                      <br/>
                      ( in <code>&lt;del&gt;</code> )
                    </div>
                    <div class="sm-6-of-12 md-4-of-12">
                      <small>small text </small>
                      <br/>
                      (in <code>&lt;small&gt;</code> tag )
                    </div>


                  </div>




                  <!-- &nbsp;&nbsp;<code>&lt;del&gt; whatever &lt;/del&gt; </code> -->

                  <br/>

                  <!-- &nbsp;&nbsp;<code>&lt;small&gt; whatever &lt;/small&gt; </code> -->
              </div>
            </div>

          <div style="position: relative"><a name="docs-buttons"></a></div>

          <h3 class="site-subheader">Buttons</h3>
          <!-- <p class="explanation">There are two button styles (<strong>primary</strong> and <strong>normal</strong>) and four html syntaxes available for each style.</p> -->
          <div class="grid-container dual-example">
            <div class="sm-12-of-12 lg-6-of-12">
              <h4 class="site-sub-subheader"><strong>Default</strong></h4>
              <button>Normal</button>
              <div>
                <code>&lt;button class="btn"&gt;</code><br/><br/>
                <code>&lt;a class="btn"&gt;</code><br/><br/>
                <code>&lt;input class="btn" type="button" ... &gt;</code><br/><br/>
                <code>&lt;input class="btn" type="submit" ...&gt;</code><br/>
              </div>
              <hr>
              <div class="grid-container site-button-sizes">

                <div class="sm-12-of-12 md-4-of-12">
                  <code>"btn sm"</code>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <code>"btn md"</code>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <code>"btn lg"</code>
                </div>

                <div class="sm-12-of-12 md-4-of-12">
                  <button class="sm">Small</button>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <button class="md">Medium</button>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <button class="lg">Large</button>
                </div>
              </div>
            </div>
            <div class="sm-12-of-12 lg-6-of-12">
              <h4 class="site-sub-subheader"><strong>Primary</strong></h4>

              <input type="button" class="primary" value="Primary">
              <div>
                <code>&lt;button class="btn"&gt;</code><br/><br/>
                <code>&lt;a class="btn primary"&gt;</code><br><br/>
                <code>&lt;input class="btn primary" type="button" ... &gt;</code><br/><br/>
                <code>&lt;input class="btn primary" type="submit" ...&gt;</code>
              </div>
              <hr>

              <div class="grid-container site-button-sizes">
                <div class="sm-12-of-12 md-4-of-12">
                  <code>"btn primary sm"</code>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <code>"btn primary md"</code>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <code>"btn primary lg"</code>
                </div>

                <div class="sm-12-of-12 md-4-of-12">
                  <button class="btn sm primary">Small</button>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <button class="btn md primary">Medium</button>
                </div>
                <div class="sm-12-of-12 md-4-of-12">
                  <button class="btn lg primary">Large</button>
                </div>
              </div>
            </div>
          </div>

          <div style="position: relative"><a name="docs-lists"></a></div>
          <h3 class="site-subheader">Lists</h3>
          <div class="grid-container guttered dual-example">
            <div class="sm-12-of-12 lg-6-of-12">
              <h4 class="site-sub-subheader"><strong>Unordered List</strong></h4>
                <ul>
                  <li>Order</li>
                  <li>Eggs</li>
                  <li>Sugar</li>
                    <ul>
                      <li>Chocolate Chips</li>
                      <li>Pecans</li>
                      <li>Peanut Butter</li>
                    </ul>
                  <li>Butter</li>
                </ul>
              </h4>
<pre><code>&lt;ul&gt;
   &lt;li&gt;Order&lt;/li&gt;
   &lt;li&gt;Eggs&lt;/li&gt;
   &lt;li&gt;Sugar&lt;/li&gt;
   &lt;ul&gt;
      &lt;li&gt;Chocolate Chips&lt;/li&gt;
      &lt;li&gt;Pecans&lt;/li&gt;
      &lt;li&gt;Peanut Butter&lt;/li&gt;
   &lt;/ul&gt;
   &lt;li&gt;Butter&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
            <div class="sm-12-of-12 lg-6-of-12">
              <h4 class="site-sub-subheader"><strong>Ordered List</strong></h4>
                <ol>
                  <li>Milk</li>
                  <li>Eggs</li>
                  <li>Flour</li>
                  <ol>
                    <li>Apple</li>
                    <li>Orange</li>
                    <li>Carrot</li>
                  </ol>
                  <li>Sugar</li>
                </ol>
<pre><code>&lt;ol&gt;
   &lt;li&gt;Milk&lt;/li&gt;
   &lt;li&gt;Eggs&lt;/li&gt;
   &lt;li&gt;Flour&lt;/li&gt;
   &lt;ol&gt;
      &lt;li&gt;Apple&lt;/li&gt;
      &lt;li&gt;Orange&lt;/li&gt;
      &lt;li&gt;Carrot&lt;/li&gt;
   &lt;/ol&gt;
   &lt;li&gt;Sugar&lt;/li&gt;
&lt;/ol&gt;</code></pre>
            </div>
          </div>
        </div>

        <div style="position: relative;"><a name="docs-tables-forms"></a></div>
        <div class="container-full major-section">
            <h1 class="site-header">Tables + Forms</h1>
        </div>
        {% include docs-table.html %}
		  {% include docs-forms.html %}

      <div style="position: relative"><a name="docs-components"></a></div>
      <div class="container-full major-section">
          <h1 class="site-header">Components</h1>
      </div>
		  {% include docs-segment.html %}
		  {% include docs-blockquotes.html %}
		  {% include docs-tiles.html %}

      <div style="position: relative"><a name="docs-misc"></a></div>
      <div class="container-full major-section">
        <h1 class="site-header">Miscellaneous</h1>
      </div>

     <div style="position: relative"><a name="docs-context-colors"></a></div>

        <div class="M-container_narrow">
          <h3 class="site-subheader">Context Colors</h3>
          <div class="grid-container adjacent">
            <div class="sm-12-of-12 md-6-of-12 txt-center bg-success">
              <p class="explanation"> <code>class="... bg-success"</code></p>
              <p>Something good happened</p>
            </div>
            <div class="sm-12-of-12 md-6-of-12 txt-center bg-info">
              <p class="explanation"> <code>class="... bg-info"</code></p>
              <p>Something notable happened</p>
            </div>
            <div class="sm-12-of-12 md-6-of-12 txt-center bg-warn">
              <p class="explanation"> <code>class="... bg-warn"</code></p>
              <p>Something peculiar happened</p>
            </div>
            <div class="sm-12-of-12 md-6-of-12 txt-center bg-fail">
              <p class="explanation"> <code>class="... bg-fail"</code></p>
              <p>Something bad happened</p>
            </div>

            <div class="sm-12-of-12">
              <hr/>
            </div>

            <div class="sm-12-of-12 md-6-of-12 txt-center bg-inverted">
              <p class="explanation"> <code>class="... bg-inverted"</code></p>
              <p>Something needs to be contrasted</p>
            </div>
            <div class="sm-12-of-12 md-6-of-12 txt-center bg-disabled">
              <p class="explanation"> <code>class="... bg-disabled"</code></p>
              <p>Something needs to be disabled</p>
            </div>


          </div>

          <div style="position: relative"><a name="docs-text-helpers"></a></div>
          <h3 class="site-subheader">Text Formatting Helpers</h3>
            <p class="explanation txt-left">Aligned <strong>left</strong><br/><code>class="... txt-left"</code></p>
            <p class="explanation txt-center">Aligned <strong>center</strong><br/><code>class="... txt-center"</code></p>
            <p class="explanation txt-right">Aligned <strong>right</strong><br/><code>class="... txt-right"</code></p>
            <hr/>
            <p class="explanation">
              <span class="txt-muted">
                <code>class="... txt-muted"</code> will subdue the text a light gray color
              </span>
              <br/>
                <span class="txt-primary">
                  <code>class="... txt-primary"</code> will emphasize the text with the primary color.
                </span>
            </p>


  <div style="position: relative"><a name="docs-code"></a></div>
    <h3 class="site-subheader">Responsive Padded Images</h3>
    <p class="explanation">
      If you want to create an element with a fixed height, then you can make the image scale to 'cover' the height buy putting the <code>img</code> inside a  <code>&lt;div class="img-stretch"/&gt;</code> tag.
    </p>

<div class="tile sm-4-x-1 site-stretch-image">
  <div class="tile-content padded-tile">
    <div class="img-stretch">
      <img src="./images/stock-default.jpeg" alt="example-img">
    </div>
  </div>
</div>

<pre><code><span class="txt-muted">&lt;!-- .example-image {height: 200px; padding: 15px;} --&gt;

&lt;div class="example-image"&gt;</span>
    &lt;div class="img-stretch"&gt;
       &lt;img src="..."/&gt;
    &lt;/div&gt;<span class="txt-muted">
&lt;/div&gt;</span></code></pre>

  <div style="position: relative"><a name="docs-code"></a></div>
    <h3 class="site-subheader">Code Blocks</h3>
    <p class="explanation">
      Encapsulated in <code>&lt;pre&gt;&lt;code&gt;</code> ... <code>&lt;/pre&gt;&lt;/code&gt;</code>. Be mindful of whitespace inside of <code>&lt;pre&gt;</code> tag.
    </p>
<pre><code>&lt;pre&gt;&lt;code&gt;
    <span class="txt-muted">
    &lt;h2&gt;This is code&lt;/h2&gt;
    &lt;p&gt;And this is what might happen if you extend past the width of the &lt;pre&gt; container-- a scroll bar will appear. No word-wrap.&lt;/p&gt;
    </span>
&lt;/code&gt;&lt;/pre&gt;</code></pre>
  </div>

  </div>
</div>
