---
layout: default
title: Docs
permalink: /documentation.html
navigable: false
---
<aside class="sidebar bg-inverted demo-docs-sidebar">
    <div class="navbar-spacer"></div>
    <div class="sidebar-content">
      <h4 class="sidebar-title">Major Categories</h4>
      <a class="sidebar-topic"href="#docs-layout">Layout</a>
      <a class="sidebar-subtopic" href="#docs-containers">Containers</a>
      <a class="sidebar-subtopic" href="#docs-grid">Grid System</a>

      <a class="sidebar-topic" href="#docs-formatting">Formatting</a>
      <a class="sidebar-subtopic" href="#docs-typography">Typography</a>
      <a class="sidebar-subtopic" href="#docs-buttons">Buttons</a>
      <a class="sidebar-subtopic" href="#docs-lists">Lists</a>

      <a class="sidebar-topic" href="#docs-tables-forms">Tables + Forms</a>
      <a class="sidebar-subtopic" href="#docs-tables">Tables</a>
      <a class="sidebar-subtopic" class="sidebar-subtopic" href="#docs-forms">Forms</a>

      <a class="sidebar-topic" href="#docs-components">Components</a>
      <a class="sidebar-subtopic" href="#docs-segment">Segment</a>
      <a class="sidebar-subtopic" href="#docs-blockquotes">Blockquotes</a>
      <a class="sidebar-subtopic" href="#docs-tiles">Responsive Tiles</a>

      <a class="sidebar-topic" href="#docs-misc">Misc</a>
      <a class="sidebar-subtopic" href="#docs-context-colors">Context Colors</a>
      <a class="sidebar-subtopic" href="#docs-text-helpers">Text Helpers</a>
      <a class="sidebar-subtopic" href="#docs-code">Code Formatting</a>
    </div>
</aside>


<div class="container-full site-docs-page">
      <p></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <div class="site-demo-header">
        <h1 class="M-bg_primary M-text_center site-docs__page-title" style=" font-size">Documentation</h1>
      </div>

      <div style="position: relative"><a name="docs-layout"></a></div>

      <div class="container-full major-section">
        <h1 class="site-header layout">Layout</h1>
      </div>

	      {% include docs-containers.html %}
	      {% include docs-grid.html %}

      <div style="position: relative"><a name="docs-formatting"></a></div>
      <div class="container-full major-section">
        <h1 class="site-header">General Formatting</h1>
      </div>

  <div class="M-container--narrow formatting">
      <div style="position: relative"><a name="docs-typography"></a></div>
      <h3 class="site-subheader">Typography</h3>
      {% include docs-typography.html %}


      <div style="position: relative"><a name="docs-buttons"></a></div>
      <h3 class="site-subheader">Buttons</h3>
      <!-- <p class="explanation">There are two button styles (<strong>primary</strong> and <strong>normal</strong>) and four html syntaxes available for each style.</p> -->
      {% include docs-buttons.html %}

      <div style="position: relative"><a name="docs-lists"></a></div>
      <h3 class="site-subheader">Lists</h3>
      {% include docs-lists.html %}
  </div>
      <div style="position: relative;"><a name="docs-tables-forms"></a></div>
      <div class="container-full major-section">
          <h1 class="site-header">Tables + Forms</h1>
      </div>
      {% include docs-table.html %}
		  {% include docs-forms.html %}
      <div style="position: relative"><a name="docs-components"></a></div>
      <div class="container-full major-section">
          <h1 class="site-header">Components</h1>
      </div>
		  {% include docs-segment.html %}
		  {% include docs-blockquotes.html %}
		  {% include docs-tiles.html %}

      <div style="position: relative"><a name="docs-misc"></a></div>
      <div class="container-full major-section">
        <h1 class="site-header">Miscellaneous</h1>
      </div>
		  {% include docs-contextcolors.html %}
		  {% include docs-texthelpers.html %}
		  {% include docs-code.html %}

</div>
