---
layout: default
---
  <div class="container-full major-section">
    <h1 class="header layout">Layout</h1>
  </div>


  <div class="container-narrow">
      <h3 class="subheader">Grid</h3>
  <div class="site-demo-grid-code">
    <span class="site-lg-code-example">
      <code>&lt;div class="grid-container"&gt;</code>
    </span>
    <br/>
    <span class="site-lg-code-example">
      <code>&nbsp;&nbsp;&nbsp;&lt;div class="</code><code class="site-code-marked">sm</code><code>-n-x-12  </code><code class="site-code-marked">md</code><code>-n-x-12  </code><code class="site-code-marked">lg</code><code>-n-x-12"&gt;</code>
      <br/>
      <code>&nbsp;&nbsp;&nbsp;....</code>
      <br/>
      <code>&nbsp;&nbsp;&nbsp;&lt;/div&gt;</code>
    </span>
    <br/>
    <span class="site-lg-code-example">
      <code>&lt;/div&gt;</code>
    </span>

  </div>

</pre>
      <p class="explanation">
        The grid system is responsive and <strong>based on a 12 column layout</strong>. In order for the grid to work you <strong>must</strong> have both an outer-div with a class of <code>grid-container</code> and a nested, inner-div with the classes in the format shown above: <code><strong><em>[screen_sz]</em></strong>-<strong><em>[cols_of_12]</em></strong>-x-12</code>. 
      </p>
      <p class="explanation">  
         You can target column sizes for three screen-widths:
      </p>
      <p class="explanation">
        &nbsp;&nbsp;&nbsp;
        <code class="site-code-marked site-med-font">sm</code> &lt; 750px,
        <br/>
        &nbsp;&nbsp;&nbsp;
        <code class="site-code-marked site-med-font">md</code> = 750px - 1000px 
        <br/>
        &nbsp;&nbsp;&nbsp;
        <code class="site-code-marked site-med-font">lg</code> &gt; 1000px.
      </p>
      <p class="explanation">
        There are <strong>two (2) kinds of grids</strong>: default and guttered. The guttered grid has an inner margin of 3% and it is created by adding the class of <code>guttered</code> to a parent-div grid container. 
        <br/>(e.g. <code>&lt;div class="grid-container guttered"&gt;...</code>)
        </br>
      </p>
      <p class="explanation">
        Check out the demo of both the default grid and the guttered
      </p>
       

      <h4 class="sub-subheader"><strong>Default</strong></h4>
      <h3 class="site-lg-code-example"><code>&lt;div class="grid-container guttered"&gt;...</code></h3>
      <div class="grid-container site-demo">
        {% include grid-default.html %}
      </div>


      <h4 class="sub-subheader"><strong>With Gutters</strong></h4>
      <h3 class="site-lg-code-example"><code>&lt;div class="grid-container guttered"&gt;...</code></h3>
      <div class="grid-container guttered site-demo">
        {% include grid-default.html %}

      </div>
  </div>
  <div class="container-narrow">
    <h3 class="subheader">Containers</h3>
  </div>
    <div class="container-narrow site-demo">
      <h3 class="site-lg-code-example"><code>&lt;div class="container-narrow"&gt;</code></h3>
      <p class="example-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iusto aspernatur vitae cum obcaecati itaque rem aut voluptatem possimus ullam accusantium veniam, ipsum non, enim magni dolorum. Dicta harum quo deserunt quae corporis?</p>
      <p class="example-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quod voluptatem ratione perferendis quo. Voluptatibus repudiandae placeat rerum asperiores voluptate, voluptatum quo ipsum! Dolor eius velit perspiciatis cumque ab ullam, id impedit in! Minima eligendi est id incidunt molestiae amet expedita possimus, magni quam. Reprehenderit earum atque minima vitae amet quod magnam, voluptatem nostrum ullam. Quisquam nobis eos quos iste! Aliquid dolorum voluptas eum, tenetur sint aspernatur itaque iusto perferendis voluptates, veniam velit libero aperiam, explicabo, esse. Vel suscipit scipit odit sequi reprehenderit esse. Placeat iure distinctio quasi labore autem officiis, sed, voluptate </p>
    </div>

    <div class="container-full site-demo">
      <h3 class="site-lg-code-example"><code>&lt;div class="container-full"&gt;</code></h3>
      <p class="example-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iusto aspernatur vitae cum obcaecati itaque rem aut voluptatem possimus ullam accusantium veniam, ipsum non, enim magni dolorum. Dicta harum quo deserunt quae corporis?</p>
      <p class="example-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quod voluptatem ratione perferendis quo. Voluptatibus repudiandae placeat rerum asperiores voluptate, voluptatum quo ipsum! Dolor eius velit perspiciatis cumque ab ullam, id impedit in! Minima eligendi est id incidunt molestiae amet expedita possimus, magni quam. Reprehenderit earum atque minima vitae amet quod magnam, voluptatem nostrum ullam. Quisquam nobis eos quos iste! Aliquid dolorum voluptas eum, tenetur sint aspernatur itaque iusto perferendis voluptates, veniam velit libero aperiam, explicabo, esse. Vel suscipit scipit odit sequi reprehenderit esse. Placeat iure distinctio quasi labore autem officiis, sed, voluptate </p>
    </div>

  
  <div class="container-full major-section">
    <h1 class="header">General Formatting</h1>
  </div>

  <div class="container-narrow formatting">
      <div class="container-narrow">
        <h3 class="subheader">Typography</h3>
        <div class="grid-container guttered dual-example">
          <div class="sm-12-x-12 lg-6-x-12">
            <h4 class="sub-subheader"><strong>Heading Tags</strong></h4>
            <h1>Heading : &lt;h1&gt; </h1>
            <h2>Heading : &lt;h2&gt; </h2>
            <h3>Heading : &lt;h3&gt; </h3>
            <h4>Heading : &lt;h4&gt; </h4>
            <h5>Heading : &lt;h5&gt; </h5>
            <h6>Heading : &lt;h6&gt; </h6>
          </div>
          <div class="sm-12-x-12 lg-6-x-12">
            <h4 class="sub-subheader"><strong>Text Formats</strong></h4>

              <p>All text sizes and line heights are calculated based on ems. The standard paragraph text is sized at 1em. And the default line-height is set to 1.25em on mobile to accomodate the lesser screen height and 1.625em on tablet/desktop for ideal legibility.</p>

              <a href="#"> link example</a> <br/>

              <!-- &nbsp;&nbsp;<code>&lt;a href="..."&gt; whatever &lt;/a&gt; </code>-->              
              <br/>
              <code>code</code></br>
              <!-- &nbsp;&nbsp;<code>&lt;code&gt; so meta &lt;/code&gt; </code> -->
              <br/>
              <mark>highlighted text</mark> <br/>
              <!-- &nbsp;&nbsp;<code>&lt;mark&gt; whatever &lt;/mark&gt; </code> -->
              <br/>
              <del>strikethrough text</del><br/>
              <!-- &nbsp;&nbsp;<code>&lt;del&gt; whatever &lt;/del&gt; </code> -->

              <br/> 
              <small>small text</small>
              <!-- &nbsp;&nbsp;<code>&lt;small&gt; whatever &lt;/small&gt; </code> -->
          </div>
        </div>


      <h3 class="subheader">Buttons</h3>
      <!-- <p class="explanation">There are two button styles (<strong>primary</strong> and <strong>normal</strong>) and four html syntaxes available for each style.</p> -->
      <div class="grid-container guttered dual-example">
        <div class="sm-12-x-12 lg-6-x-12">
          <button>Normal</button>
          <div> 
            <code>&lt;button class="btn"&gt;...&lt;/button&gt;</code><br/>
            <code>&lt;a class="btn"&gt;...&lt;/button&gt;</code><br/>
            <code>&lt;input class="btn" type="button" ... &gt;</code><br/>
            <code>&lt;input class="btn" type="submit" ...&gt;</code><br/>
          </div>
          <hr>
          <div class="grid-container guttered button-sizes">
            <div class="sm-4-x-12">
              <code>"btn sm"</code>
            </div>
            <div class="sm-4-x-12">
              <code>"btn md"</code>
            </div>
            <div class="sm-4-x-12">
              <code>"btn lg"</code>
            </div>

            <div class="sm-4-x-12">
              <button class="sm">Small</button>
            </div>
            <div class="sm-4-x-12">
              <button class="md">Medium</button>
            </div>
            <div class="sm-4-x-12">
              <button class="lg">Large</button>
            </div>
          </div>
        </div>
        <div class="sm-12-x-12 lg-6-x-12">
          <input type="button" class="primary" value="Primary">
          <div>
            <code>&lt;button class="btn"&gt;...&lt;/button&gt;</code><br/>
            <code>&lt;a class="btn primary"&gt;...&lt;/button&gt;</code><br/>
            <code>&lt;input class="btn primary" type="button" ... &gt;</code><br/>
            <code>&lt;input class="btn primary" type="submit" ...&gt;</code><br/>
          </div>
          <hr>

          <div class="grid-container button-sizes">
            <div class="sm-4-x-12">
              <code>"btn primary sm"</code>
            </div>
            <div class="sm-4-x-12">
              <code>"btn primary md"</code>
            </div>
            <div class="sm-4-x-12">
              <code>"btn primary lg"</code>
            </div>

            <div class="sm-4-x-12">
              <button class="btn sm primary">Small</button>
            </div>
            <div class="sm-4-x-12">
              <button class="btn md primary">Medium</button>
            </div>
            <div class="sm-4-x-12">
              <button class="btn lg primary">Large</button>
            </div>
          </div>
        </div>

      </div>
            

      <h3 class="subheader">Lists</h3>
      <div class="grid-container guttered dual-example">
        <div class="sm-12-x-12 lg-6-x-12">
          <h4 class="sub-subheader"><strong>Unordered List</strong></h4>
            <ul>
              <li>Order</li>
              <li>Eggs</li>
              <li>Sugar</li>
              <ul>
                <li>Chocolate Chips</li>
                <li>Pecans</li>
                <li>Peanut Butter</li>
              </ul>
              <li>Butter</li>
            </ul>
          </h4>
        </div>
        <div class="sm-12-x-12 lg-6-x-12">
          <h4 class="sub-subheader"><strong>Ordered List</strong></h4>
            <ol>
              <li>Milk</li>
              <li>Eggs</li>
              <li>Flour</li>
              <ol>
                <li>Apple</li>
                <li>Orange</li>
                <li>Carrot</li>
              </ol>
              <li>Sugar</li>
            </ol>
          </h4>
        </div>
         
      </div>
    </div>

  </div>
  

    <div class="container-full major-section">
        <h1 class="header">Tables + Forms</h1>
    </div>
    <div class="container-narrow">
      <h3 class="subheader">Tables</h3>
      <h3 class="subheader">Forms</h3>
    </div>
  
  <div class="container-full major-section">
      <h1 class="header">Components</h1>
  </div>

  <div class="container-narrow">
    <h3 class="subheader">Hero-Header</h3>
    <h3 class="subheader">Navigation</h3>
    <h3 class="subheader">Callout-Segment</h3>
    <h3 class="subheader">Sidebars</h3>
    <h3 class="subheader">Thumbnails/Cards</h3>
  </div>

    <div class="container-full major-section">
      <h1 class="header">Miscellaneous</h1>
    </div>
    <h4>Code</h4>
    <h3>Block Quotes</h3>
  </div>
</div>
