
<div style="position: relative"><a name="docs-code"></a></div>
<div class="M-container--narrow">
  <h3 class="site-subheader">Code Blocks</h3>
  <p class="explanation">
  Encapsulated in <code>&lt;pre&gt;&lt;code&gt;</code> ... <code>&lt;/pre&gt;&lt;/code&gt;</code>. Be mindful of whitespace inside of <code>&lt;pre&gt;</code> tag.
  </p>
  <pre><code>&lt;pre&gt;&lt;code&gt;
  <span class="M-text--muted">
  &lt;h2&gt;This is code&lt;/h2&gt;
  &lt;p&gt;And this is what might happen if you extend past the width of the &lt;pre&gt; container-- a scroll bar will appear. No word-wrap.&lt;/p&gt;
  </span>
  &lt;/code&gt;&lt;/pre&gt;</code></pre>
</div>
