<div class="M-grid dual-example">
  <div class="M-sm-12-of-12 M-lg-6-of-12">
    <h4 class="site-sub-subheader"><strong>Default</strong></h4>
    <button>Normal</button>
    <div>
      <code>&lt;button class="M-btn"&gt;</code><br/><br/>
      <code>&lt;a class="M-btn"&gt;</code><br/><br/>
      <code>&lt;input class="M-btn" type="button" ... &gt;</code><br/><br/>
      <code>&lt;input class="M-btn" type="submit" ...&gt;</code><br/>
    </div>
    <hr>
    <div class="M-grid">
      <div class="M-sm-6-of-12 M-md-12-of-12">
        <div class="M-grid">
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <p><code>"M-btn_sm"</code></p>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <p><code>"M-btn_md"</code></p>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <p><code>"M-btn_lg"</code></p>
          </div>
        </div>
      </div>
    
      <div class="M-sm-6-of-12 M-md-12-of-12">
        <div class="M-grid">
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <button class="M-btn_sm">Small</button>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <button class="M-btn_md">Medium</button>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <button class="M-btn_lg">Large</button>
          </div>
        </div>
      </div>
    </div>
 </div>

  <div class="M-sm-12-of-12 M-lg-6-of-12">
    <h4 class="site-sub-subheader"><strong>Primary</strong></h4>

    <input type="submit" class="M-btn_primary" value="Primary">
    <div>
      <code>&lt;button class="M-btn"&gt;</code><br/><br/>
      <code>&lt;a class="M-btn M-btn_primary"&gt;</code><br/><br/>
      <code>&lt;input class="M-btn M-btn_primary" type="button" ... &gt;</code><br/><br/>
      <code>&lt;input class="M-btn M-btn_primary" type="submit" ...&gt;</code>
    </div>
    <hr>
    <div class="M-grid">
      <div class="M-sm-6-of-12 M-md-12-of-12">
        <div class="M-grid">
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <p><code>"M-btn_sm M-btn_primary"</code></p>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <p><code>"M-btn M-btn_primary"</code></p>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <p><code>"M-btn_lg M-btn_primary"</code></p>
          </div>
        </div>
      </div>
      <div class="M-sm-6-of-12 M-md-12-of-12">
        <div class="M-grid">
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <button class="M-btn_sm M-btn_primary">Small</button>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <button class="M-btn M-btn_primary">Medium</button>
          </div>
          <div class="M-sm-12-of-12 M-md-4-of-12">
            <button class="M-btn_lg M-btn_primary">Large</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
