<div style="position: relative"><a name="docs-text-helpers"></a></div>
  <div class="M-container_narrow">  	 
  <h3 class="site-subheader">Text Formatting Helpers</h3>

  <p class="explanation M-text_left">Aligned <strong>left</strong><br/><code>class="... M-text_left"</code></p>
  <p class="explanation M-text_center">Aligned <strong>center</strong><br/><code>class="... M-text_center"</code></p>
  <p class="explanation M-text_right">Aligned <strong>right</strong><br/><code>class="... M-text_right"</code></p>
  <hr/>
  <p class="explanation">
	 <span class="M-text_muted">
	   <code>class="... M-text_muted"</code> will subdue the text a light gray color
	 </span>
	 <br/>
	   <span class="M-text_primary">
		  <code>class="... M-text_primary"</code> will emphasize the text with the primary color.
	   </span>
  </p>

<pre><code><span class="M-text_muted">&lt;!-- .example-image {height: 200px; padding: 15px;} --&gt;

&lt;div class="example-image"&gt;</span>
&lt;div class="img-stretch"&gt;
&lt;img src="..."/&gt;
&lt;/div&gt;<span class="M-text_muted">
&lt;/div&gt;</span></code></pre>

<div style="position: relative"><a name="docs-code"></a></div>
<h3 class="site-subheader">Code Blocks</h3>
<p class="explanation">
Encapsulated in <code>&lt;pre&gt;&lt;code&gt;</code> ... <code>&lt;/pre&gt;&lt;/code&gt;</code>. Be mindful of whitespace inside of <code>&lt;pre&gt;</code> tag.
</p>
<pre><code>&lt;pre&gt;&lt;code&gt;
<span class="M-text_muted">
&lt;h2&gt;This is code&lt;/h2&gt;
&lt;p&gt;And this is what might happen if you extend past the width of the &lt;pre&gt; container-- a scroll bar will appear. No word-wrap.&lt;/p&gt;
</span>
&lt;/code&gt;&lt;/pre&gt;</code></pre>
</div>