<div class="M-grid dual-example">
  <div class="M-grid__sm-12-of-12 M-grid__lg-6-of-12">
    <h4 class="site-sub-subheader"><strong>Default</strong></h4>
    <div class="M-grid">
      <div class="M-grid__sm-6-of-12 M-grid__md-12-of-12">
        <div class="M-grid">
          <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
            <p><code>M-btn</code><br/><code>M-btn--sm</code></p>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
            <p><code>M-btn</code><br/><code>M-btn--md</code></p>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
            <p><code>M-btn</code><br/><code>M-btn--lg</code></p>
          </div>
        </div>
      </div>

      <div class="M-grid__sm-6-of-12 M-grid__md-12-of-12">
        <div class="M-grid">
          <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
            <button class="M-btn--sm">Small</button>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
            <button class="M-btn--md">Medium</button>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-4-of-12">
            <button class="M-btn--lg">Large</button>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-12-of-12">
            <p><code>M-btn M-btn--block</code></p>
            <button class="M-btn M-btn--block">Block</button>
          </div>
        </div>
      </div>
    </div>
 </div>

  <div class="M-grid__sm-12-of-12 M-grid__lg-6-of-12">
    <h4 class="site-sub-subheader"><strong>Extra</strong></h4>
    <div class="M-grid">
      <div class="M-grid__sm-6-of-12 M-grid__md-12-of-12">
        <div class="M-grid">
          <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12">
            <p><code>M-btn</code><br/><code>M-btn--primary</code></p>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12">
            <p><code>M-btn</code><br/><code>M-bg--disabled</code></p>
          </div>
        </div>
      </div>
      <div class="M-grid__sm-6-of-12 M-grid__md-12-of-12">
        <div class="M-grid">
          <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12">
            <button class="M-btn M-btn--primary">Primary Button</button>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12">
            <button class="M-btn M-bg--disabled">Disabled</button>
          </div>
          <div class="M-grid__sm-12-of-12 M-grid__md-12-of-12">
            <p><code>M-btn<br/>M-btn--block<br/>M-btn--sm<br/>M-bg--warn</code></p>
            <button class="M-btn M-btn--block M-btn--sm M-bg--warn">Block Small</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
