<div class="M-grid dual-example">
  <div class="M-sm-12-of-12 M-lg-6-of-12">
    <h4 class="site-sub-subheader"><strong>Unordered List</strong></h4>
      <ul>
        <li>Order</li>
        <li>Eggs</li>
        <li>Sugar</li>
          <ul>
            <li>Chocolate Chips</li>
            <li>Pecans</li>
            <li>Peanut Butter</li>
          </ul>
        <li>Butter</li>
      </ul>
    </h4>
<pre><code>&lt;ul&gt;
  &lt;li&gt;Order&lt;/li&gt;
  &lt;li&gt;Eggs&lt;/li&gt;
  &lt;li&gt;Sugar&lt;/li&gt;
&lt;ul&gt;
  &lt;li&gt;Chocolate Chips&lt;/li&gt;
  &lt;li&gt;Pecans&lt;/li&gt;
  &lt;li&gt;Peanut Butter&lt;/li&gt;
&lt;/ul&gt;
  &lt;li&gt;Butter&lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
  <div class="M-sm-12-of-12 M-lg-6-of-12">
    <h4 class="site-sub-subheader"><strong>Ordered List</strong></h4>
      <ol>
        <li>Milk</li>
        <li>Eggs</li>
        <li>Flour</li>
        <ol>
          <li>Apple</li>
          <li>Orange</li>
          <li>Carrot</li>
        </ol>
        <li>Sugar</li>
      </ol>
<pre><code>&lt;ol&gt;
&lt;li&gt;Milk&lt;/li&gt;
  &lt;li&gt;Eggs&lt;/li&gt;
  &lt;li&gt;Flour&lt;/li&gt;
&lt;ol&gt;
  &lt;li&gt;Apple&lt;/li&gt;
  &lt;li&gt;Orange&lt;/li&gt;
  &lt;li&gt;Carrot&lt;/li&gt;
&lt;/ol&gt;
  &lt;li&gt;Sugar&lt;/li&gt;
&lt;/ol&gt;</code></pre>
  </div>
</div>
