<div style="position: relative"><a name="docs-containers"></a></div>
<div class="M-container_narrow">
  <h3 class="site-subheader">Containers</h3>
  <p class="explanation">
	 Containers dictate the width of the content and give the inner-content a slight amount of padding from the outer border. A div with a class of <code>M</code> will extend the full width of the page and a div with a class of <code>M-container_narrow</code> will have a max-width of 960px and will be centered with margin: auto. You can nest a <code>M-container_narrow</code> inside of a <code>M</code>.
  </p>

</div>
<div class="M-container_narrow">
  <h4 class="site-sub-subheader"><strong>Container-narrow</strong></h4>
<pre><code>&lt;div class="M-container_narrow"&gt;

<span class="txt-muted">&lt;!--your web content here--&gt;</span>

&lt;/div&gt;</code></pre>
</div>

<div class="M-container_narrow site-demo">
  <h3 class="site-lg-code-example"><code>&lt;div class="M-container_narrow"&gt;</code></h3>
  <p class="example-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iusto aspernatur vitae cum obcaecati itaque rem aut voluptatem possimus ullam accusantium veniam, ipsum non, enim magni dolorum. Dicta harum quo deserunt quae corporis?</p>
  <p class="example-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quod voluptatem ratione perferendis quo. Voluptatibus repudiandae placeat rerum asperiores voluptate, voluptatum quo ipsum! Dolor eius velit perspiciatis cumque ab ullam, id impedit in! Minima eligendi est id incidunt molestiae amet expedita possimus, magni quam. Reprehenderit earum atque minima vitae amet quod magnam, voluptatem nostrum ullam. Quisquam nobis eos quos iste! Aliquid dolorum voluptas eum, tenetur sint aspernatur itaque iusto perferendis voluptates, veniam velit libero aperiam, explicabo, esse. Vel suscipit scipit odit sequi reprehenderit esse. Placeat iure distinctio quasi labore autem officiis, sed, voluptate </p>

</div>

<p class="explanation"></p>
<div class="M-container_narrow">
  <h4 class="site-sub-subheader"><strong>Container-full</strong></h4>
<pre><code>&lt;div class="M-container_full"&gt;

<span class="txt-muted">&lt;!--your web content here--&gt;</span>

&lt;/div&gt;</code></pre>
</div>

<div class="M-container_full site-demo">
  <h3 class="site-lg-code-example"><code>&lt;div class="M"&gt;</code></h3>
  <p class="example-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit iusto aspernatur vitae cum obcaecati itaque rem aut voluptatem possimus ullam accusantium veniam, ipsum non, enim magni dolorum. Dicta harum quo deserunt quae corporis?</p>
  <p class="example-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quod voluptatem ratione perferendis quo. Voluptatibus repudiandae placeat rerum asperiores voluptate, voluptatum quo ipsum! Dolor eius velit perspiciatis cumque ab ullam, id impedit in! Minima eligendi est id incidunt molestiae amet expedita possimus, magni quam. Reprehenderit earum atque minima vitae amet quod magnam, voluptatem nostrum ullam. Quisquam nobis eos quos iste! Aliquid dolorum voluptas eum, tenetur sint aspernatur itaque iusto perferendis voluptates, veniam velit libero aperiam, explicabo, esse. Vel suscipit scipit odit sequi reprehenderit esse. Placeat iure distinctio quasi labore autem officiis, sed, voluptate </p>
</div>
