<div style="position: relative"><a name="docs-text-helpers"></a></div>
  <div class="M-container--narrow">
    <h3 class="site-subheader">Text Formatting Helpers</h3>

    <p class="explanation M-text--left">Aligned <strong>left</strong><br/><code>class="... M-text--left"</code></p>
    <p class="explanation M-text--center">Aligned <strong>center</strong><br/><code>class="... M-text--center"</code></p>
    <p class="explanation M-text--right">Aligned <strong>right</strong><br/><code>class="... M-text--right"</code></p>
    <hr/>
    <p class="explanation">
      <p>
        <span class="M-text--muted">
     	    <code>class="... M-text--muted"</code><br/> will subdue the text with a light gray color
     	  </span>
      </p>
      <p>
        <span class="M-text--primary">
   		    <code>class="... M-text--primary"</code> <br/>will emphasize the text with the primary color.
   	    </span>
      </p>


    </p>

</div>
