<div style="position: relative"><a name="docs-blockquotes"></a></div>
<div class="M-container--narrow">
          <h3 class="site-subheader">Block Quotes</h3>
          <blockquote class="M-blockquote">
            <p>Repellendus iusto ex, officia est optio labore quam et, illo necessitatibus consectetur quaerat repudiandae, quae.</p>
            <p> Maiores facere tempore animi mollitia. Facilis quibusdam amet nam consequuntur quidem, deleniti nobis, accusamus autem voluptas rerum odit at, labore numquam exercitationem id porro, modi veniam aspernatur commodi blanditiis ipsam. Animi eaque et veritatis quis. Eum excepturi repellendus, aut iusto, non earum consectetur. Quas architecto facere sint incidunt praesentium! Veniam omnis dignissimos eius, officia, deleniti recusandae libero. </p>
            <cite class="M-cite"><strong>Someone important</strong> from <em>A Credible Source</em></cite>
          </blockquote>
<pre><code>&lt;blockquote <mark>class="M-blockquote"</mark>&gt;

  &lt;p&gt;
    ....
  &lt;/p&gt;
  &lt;cite <mark>class="M-cite"</mark>&gt;
    ....
  &lt;/cite&gt;

&lt;/blockquote&gt;</code></pre>
</div>
