<div style="position: relative"><a name="docs-segment"></a></div>
<div class="M-container_narrow">
     <h3 class="site-subheader">Callout Segment</h3>
     <p class="explanation">
       Use a callout segment for any kind of content that you want to emphasize. To use this component, you use the HTML5 <code>&lt;section&gt;</code> tag with a class of <strong>segment</strong>.
     </p>

     <p class="explanation"></p>

     <h4 class="site-sub-subheader"><strong>Example</strong></h4>

     <section class="M-segment">

       <h4>Places that start with M</h4>
       <ul>
         <li>Minneapolis</li>
         <li>Marfa</li>
         <li>Madison</li>
       </ul>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident earum modi corrupti exp  edita, accusantium numquam nesciunt non eum ipsa iste voluptate saepe, sit quibusdam odio suscipit inventore velit quos aperiam ducimus dicta perspiciatis.</p>
     </section>

<pre><code>&lt;section class="segment"&gt;</code><span class="txt-muted">

   &lt;h4&gt;Cities that start with M&lt;/h4&gt;

   &lt;ul&gt;
      &lt;li&gt;Minneapolis&lt;/li&gt;
      &lt;li&gt;Marfa&lt;/li&gt;
      &lt;li&gt;Madison&lt;/li&gt;
   &lt;/ul&gt;

   &lt;p&gt;
      Lorem ipsum...
   &lt;/p&gt;</span>

<code>&lt;/section&gt;</code></pre>
</div>
