<div style="position: relative"><a name="docs-context-colors"></a></div>
<div class="M-container_narrow">
  <h3 class="site-subheader">Context Colors</h3>
  <div class="M-grid adjacent">
	 <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12 M-text--center M-bg--success">
		<p class="explanation"> <code>class="... M-bg--success"</code></p>
		<p>Something good happened</p>
	 </div>
	 <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12 M-text--center M-bg--info">
		<p class="explanation"> <code>class="... M-bg--info"</code></p>
		<p>Something notable happened</p>
	 </div>
	 <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12 M-text--center M-bg--warn">
		<p class="explanation"> <code>class="... M-bg--warn"</code></p>
		<p>Something peculiar happened</p>
	 </div>
	 <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12 M-text--center M-bg--fail">
		<p class="explanation"> <code>class="... M-bg--fail"</code></p>
		<p>Something bad happened</p>
	 </div>

	 <div class="M-grid__sm-12-of-12">
		<hr/>
	 </div>

	 <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12 M-text--center M-bg--inverted">
		<p class="explanation"> <code>class="... M-bg--inverted"</code></p>
		<p>Something needs to be contrasted</p>
	 </div>
	 <div class="M-grid__sm-12-of-12 M-grid__md-6-of-12 M-text--center M-bg--disabled">
		<p class="explanation"> <code>class="... M-bg--disabled"</code></p>
		<p>Something needs to be disabled</p>
	 </div>

  </div>
</div>
