<div style="position: relative"><a name="docs-tiles"></a></div>
<div class="M-container_narrow">
  <h3 class="site-subheader">Responsive Tiles</h3>
  <p class="explanation">
    Create responsive tiles that retain their proportions with fluid (%-based) widths
  </p>

  <div class="M-grid site-tile-demo">
    <div class="M-sm-6-of-12 M-md-4-of-12">
      <p class="tile-label M-text-center"><code>M-tile M-sm-1-x-1</code></p>
      <div class="M-tile M-sm-1-x-1 site-tile">
        <div class="M-tile__content contents-centered">
          <span>1:1</span>
        </div>
      </div>
    </div>
    <div class="M-sm-6-of-12 M-md-4-of-12">
      <p class="tile-label M-text-center"><code>M-tile M-sm-4-x-3</code></p>
      <div class="M-tile M-sm-4-x-3 site-tile">
        <div class="M-tile__content contents-centered">
          <span>4:3</span>
        </div>
      </div>
    </div>
    <div class="M-sm-6-of-12 M-md-4-of-12">
      <p class="tile-label M-text-center"><code>M-tile M-sm-3-x-2</code></p>
      <div class="M-tile M-sm-3-x-2 site-tile">
        <div class="M-tile__content contents-centered">
          <span>3:2</span>
        </div>
      </div>
    </div>
    <div class="M-sm-6-of-12 M-md-4-of-12">
      <p class="tile-label M-text-center"><code>M-tile M-sm-16-x-9</code></p>
      <div class="M-tile M-sm-16-x-9 site-tile">
        <div class="M-tile__content contents-centered">
          <span>16:9</span>
        </div>
      </div>
    </div>
    <div class="M-sm-6-of-12 M-md-4-of-12">
      <p class="tile-label M-text-center"><code>M-tile M-sm-2-x-1</code></p>
      <div class="M-tile M-sm-2-x-1 site-tile">
        <div class="M-tile__content contents-centered">
          <span>2:1</span>
        </div>
      </div>
    </div>
    <div class="M-sm-6-of-12 M-md-4-of-12">
      <p class="tile-label M-text-center"><code>M-tile M-sm-3-x-1</code></p>
      <div class="M-tile M-sm-3-x-1 site-tile">
        <div class="M-tile__content contents-centered">
          <span>3:1</span>
        </div>
      </div>
      <p class="tile-label M-text-center"><code>M-tile M-sm-4-x-1</code></p>
      <div class="M-tile M-sm-4-x-1 site-tile">
        <div class="M-tile__content contents-centered">
          <span>4:1</span>
        </div>
      </div>
    </div>
  </div> 
</div>