<h4 class="site-sub-subheader"><strong>Example</strong></h4>

<form class="form-group grid-container">

  <div class="sm-12-x-12 md-4-x-12 form-field">
    <label for="firstField">First</label>
    <input type="text"/ >
  </div>

  <div class="sm-12-x-12 md-4-x-12 form-field">
    <label for="middleField">Middle</label>
    <input type="text"/ >
  </div>

  <div class="sm-12-x-12 md-4-x-12 form-field">
    <label for="lastField">Last</label>
    <input type="text"/ >
  </div>

  <div class="sm-12-x-12 md-6-x-12 form-field">
    <label for="emailField">Email</label>
    <input type="email"/ >
  </div>

  <div class="sm-12-x-12 md-6-x-12 form-field">
    <label for="nameField">State</label>
    <select/ >
      <option value="CA">California</option>
      <option value="NY">New York</option>
      <option value="TX">Texas</option>
    </select>
  </div>

  <div class="sm-12-x-12 md-12-x-12 form-field">
    <label for="nameField">Description</label>
    <textarea rows="6"></textarea>
  </div>

  <div class="sm-12-x-12 md-12-x-12 form-field">
    <input type="submit" class="btn primary ">
  </div>


</form>
