  <div class="table-full-width">
    <table class="striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>W-L Record</th>
          <th>Pts For</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>food fight</td>
          <td>8-4</td>
          <td>1,137.88</td>
        </tr>
        <tr class="bg-fail">
          <td>2</td>
          <td>Foxy Tacos</td>
          <td>7-5</td>
          <td>1,184.96</td>
        </tr>
        <tr>
          <td>3</td>
          <td>DorkTron</td>
          <td>7-5</td>
          <td>912.22</td>
        </tr>
        <tr>
          <td>4</td>
          <td>It's Just A Name</td>
          <td>6-6</td>
          <td>1,158.42</td>
        </tr>
      </tbody>
    </table>
  </div>
 