<div class="sm-12-x-12 md-6-x-12 lg-4-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-12-x-12">
    <code>Small Screen<br/><small>(12/12 columns)</small></code>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>Medium Screen<br/><small>(6/12 columns)</small></code>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-4-x-12">
    <code>Large Screen<br/><small>(4/12 columns)</small></code>
  </span>
</div>
<div class="sm-12-x-12 md-6-x-12 lg-4-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-12-x-12">
    <code>Small Screen<br/><small>(12/12 columns)</small></code>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>Medium Screen<br/><small>(6/12 columns)</small></code>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-4-x-12">
    <code>Large Screen<br/><small>(4/12 columns)</small></code>
  </span>
</div>
<div class="sm-12-x-12 md-4-x-12 lg-4-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-12-x-12">
    <code>Small Screen<br/><small>(12/12 columns)</small></code></strong>
 </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>Medium Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-4-x-12">
    <code>Large Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-6-x-12 md-4-x-12 lg-3-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(6/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-6-x-12 md-4-x-12 lg-3-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(6/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-6-x-12 md-6-x-12 lg-3-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(6/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>Medium Screen<br/><small>(6/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-6-x-12 md-6-x-12 lg-3-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(6/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>Medium Screen<br/><small>(6/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
</div>
<!-- ---- -->
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(2/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(2/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(2/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(2/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-4-x-12 md-9-x-12 lg-2-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(9/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(2/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(2/12 columns)</small></code></strong>
  </span>
</div>
<div class="sm-0-x-12 md-0-x-12 lg-5-x-12">
  <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>Small Screen<br/><small>(4/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>Medium Screen<br/><small>(3/12 columns)</small></code></strong>
  </span>
    <br/>
    <br/>
  <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>Large Screen<br/><small>(2/12 columns)</small></code></strong>
  </span>
</div>
