<div class="sm-12-x-12 md-6-x-12 lg-4-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-12-x-12">
    <code>sm-12-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>md-6-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-4-x-12">
    <code>lg-4-x-12</code></strong>
  </span>
</div>
<div class="sm-12-x-12 md-6-x-12 lg-4-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-12-x-12">
    <code>sm-12-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>md-6-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-4-x-12">
    <code>lg-4-x-12</code></strong>
  </span>
</div>
<div class="sm-12-x-12 md-4-x-12 lg-4-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-12-x-12">
    <code>sm-12-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>md-6-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-4-x-12">
    <code>lg-4-x-12</code></strong>
  </span>
</div>
<div class="sm-6-x-12 md-4-x-12 lg-3-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>sm-6-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>md-4-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>lg-3-x-12</code></strong>
  </span>
</div>
<div class="sm-6-x-12 md-4-x-12 lg-3-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-6-x-12">
    <code>sm-6-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-4-x-12">
    <code>md-4-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>lg-3-x-12</code></strong>
  </span>
</div>
<div class="sm-8-x-12 md-6-x-12 lg-3-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-8-x-12">
    <code>sm-8-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>md-6-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>lg-3-x-12</code></strong>
  </span>
</div>
<div class="sm-4-x-12 md-6-x-12 lg-3-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-4-x-12">
    <code>sm-4-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-6-x-12">
    <code>md-6-x-12</code></strong>
  </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-3-x-12">
    <code>lg-3-x-12</code></strong>
  </span>
</div>
<!-- ---- -->
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-4-x-12">
      <code>sm-4-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-3-x-12">
      <code>md-3-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-2-x-12">
      <code>lg-2-x-12</code></strong>
    </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-4-x-12">
      <code>sm-4-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-3-x-12">
      <code>md-3-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-2-x-12">
      <code>lg-2-x-12</code></strong>
    </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-4-x-12">
      <code>sm-4-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-3-x-12">
      <code>md-3-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-2-x-12">
      <code>lg-2-x-12</code></strong>
    </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-4-x-12">
      <code>sm-4-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-3-x-12">
      <code>md-3-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-2-x-12">
      <code>lg-2-x-12</code></strong>
    </span>
</div>
<div class="sm-4-x-12 md-9-x-12 lg-2-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-4-x-12">
      <code>sm-4-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-9-x-12">
      <code>md-9-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-2-x-12">
      <code>lg-2-x-12</code></strong>
    </span>
</div>
<div class="sm-4-x-12 md-3-x-12 lg-2-x-12">
    <span class="grid-sz" data-scr="sm" data-val="sm-4-x-12">
      <code>sm-4-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="md" data-val="md-3-x-12">
      <code>md-3-x-12</code></strong>
    </span>
    <br/>
    <span class="grid-sz" data-scr="lg" data-val="lg-2-x-12">
      <code>lg-2-x-12</code></strong>
    </span>
</div>
