
<nav class="navbar">
  
  <div class="nav-logo">
    
  </div>
  

  <div class="mobile-only hamburger-menu">
    <hr class="mid-line">
  </div>
  <ul class="nav-list">
      {% for my_page in site.pages %}
        {% if my_page.title %}
          {% if my_page.url == page.url %}
          <li class="active">
            <a href="{{ my_page.url | prepend: site.baseurl }}">             
              {{ my_page.title }}
            </a>
          </li>
          {% else %}
          <li class="">
            <a href="{{ my_page.url | prepend: site.baseurl | prepend: site.url  }}">
              {{ my_page.title }}
            </a>
          </li>
          {% endif %}

        {% endif %}
      {% endfor %}
  </ul>
</div>
</nav>