
<nav class="nav-bar with-logo fixed">
  
  <div class="nav-logo">
    <a href="{{ "" | prepend: site.baseurl | prepend: site.url }}">
      <img src="./images/molecule2.png" alt="logo" class="site-nav-logo">
    </a>
  </div>


  <input type="checkbox" class="hamburger-toggler"/>
  <div class="hamburger-menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  
  <div class="nav-list">
      <a href="{{'' | prepend: site.baseurl | prepend: site.url}}">Home</a>
      {% for my_page in site.pages %}
        {% if my_page.title %}
          {% if my_page.url == page.url %}
          <a href="{{ my_page.url | prepend: site.baseurl }}">              
              {{ my_page.title }}
          </a>
        {% else %}
          <a href="{{ my_page.url | prepend: site.baseurl | prepend: site.url  }}">
              {{ my_page.title }}
          </a>
        {% endif %}
        {% endif %}

      {% endfor %}
      


  </div>
</nav>