
<nav class="nav-bar with-logo fixed lg">
  
  <div class="nav-logo">
    <a href="/"><img src="./images/molecule2.png" alt="molecule-logo"></a>
  </div>
  
  <input type="checkbox" class="hamburger-toggler"/>
  <div class="hamburger-menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  
  <div class="nav-list">
    <!--
      {% for my_page in site.pages %}
        {% if my_page.title %}
          {% if my_page.url == page.url %}
          <a href="{{ my_page.url | prepend: site.baseurl }}">              
              {{ my_page.title }}
          </a>
        {% else %}
          <a href="{{ my_page.url | prepend: site.baseurl | prepend: site.url  }}">
              {{ my_page.title }}
          </a>
        {% endif %}
        {% endif %}

      {% endfor %}
      -->
      <a href="#">Layout</a>
      <a href="#">General Formatting</a>
      <a href="#">Tables + Forms</a>
      <hr class="breaker"/>
      <a href="#">Components</a>
      <a href="#">Miscellaneous</a>


  </div>
</nav>