<form class="form-group grid-container">

  <div class="sm-12-of-12 md-4-of-12 form-field">
    <label for="firstField">First</label>
    <input type="text"/ >
  </div>

  <div class="sm-12-of-12 md-4-of-12 form-field">
    <label for="middleField">Middle</label>
    <input type="text"/ >
  </div>

  <div class="sm-12-of-12 md-4-of-12 form-field">
    <label for="lastField">Last</label>
    <input type="text"/ >
  </div>

  <div class="sm-12-of-12 md-6-of-12 form-field">
    <label for="emailField">Date</label>
    <input type="date"/ >
  </div>

  <div class="sm-12-of-12 md-6-of-12 form-field">
    <label for="nameField">State</label>
    <select/ >
      <option value="CA">California</option>
      <option value="NY">New York</option>
      <option value="TX">Texas</option>
    </select>
  </div>

  <div class="sm-12-of-12 md-12-of-12 form-field">
    <label for="nameField">Description</label>
    <textarea rows="6"></textarea>
  </div>
  <div class="sm-12-of-12 md-4-of-12 form-field">
      <label>Do you like me?</label>
      <label class="radiocheck"><input type="radio" value="no" name="shampoo" ><span>No</span></label>
      <label class="radiocheck"><input type="radio" value="yes" name="shampoo" ><span>Yes</span></label>
  </div>
  <div class="sm-12-of-12 md-4-of-12 form-field">
      <label>Pizza Toppings?</label>
      <label class="radiocheck"><input type="checkbox" value="mushrooms" name="pizza" ><span>Mushrooms</span></label>
      <label class="radiocheck"><input type="checkbox" value="pepperoni" name="pizza" ><span>Pepperoni</span></label>
      <label class="radiocheck"><input type="checkbox" value="deviant" name="pizza"><span>Pineapple</span></label>
  </div>
  <div class="sm-12-of-12 md-4-of-12 form-field">
    <input type="submit" class="btn primary" value="Update">
  </div>
</form>
