  <table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Bed Time</th>
        <th>Favorite Animal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Zoey</td>
        <td>4</td>
        <td>9:30</td>
        <td>Giraffe</td>
      </tr>
      <tr>
        <td>Haley</td>
        <td>2</td>
        <td>8:00</td>
        <td>Tiger</td>
      </tr>
      <tr>
        <td>Rylan</td>
        <td>1</td>
        <td>7:30</td>
        <td>TBD</td>
      </tr>
    </tbody>
  </table>