<div class="container-narrow">
  <p class="explanation">
    The Margo <code>&lt;table&gt;</code> element follows the convention of having an inner <code>&lt;thead&gt; </code> for the table header row and <code>&lt;tbody&gt;</code> for the data rows.
  </p>
  <h4><strong>Options</strong></h4>
    <ul>
      <li><code>&lt;table class="striped"&gt;</code> highlights every other row.</li>
      <li><code>&lt;tr class="bg-success|fail|info|warn"&gt;</code> will provide a background context-color for a row</li>

    </ul>
    
  <h4 class="site-sub-subheader"><strong>Short Table</strong></h4>
  <h3 class="site-lg-code-example"><code>&lt;table&gt;</code></h3>
  <p></p>
  <table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Bed Time</th>
        <th>Favorite Animal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Zoey</td>
        <td>4</td>
        <td>9:30</td>
        <td>Giraffe</td>
      </tr>
      <tr>
        <td>Haley</td>
        <td>2</td>
        <td>8:00</td>
        <td>Tiger</td>
      </tr>
      <tr>
        <td>Rylan</td>
        <td>1</td>
        <td>7:30</td>
        <td>TBD</td>
      </tr>
    </tbody>
  </table>

  <p class="explanation">&nbsp;</p>

  <h4 class="site-sub-subheader"><strong>Full Width Table + Striped</strong></h4>

  <div class="site-demo-code-block">
    <span class="site-lg-code-example">
      <code>&lt;div class="table-full-width"&gt;</code>
    </span>
    <br/>
    <span class="site-lg-code-example">
      <code>&nbsp;&nbsp;&nbsp;&lt;table class="striped"&gt;...&lt;/table&gt;</code>
    </span>
    <br/>
    <span class="site-lg-code-example">
      <code>&lt;/div&gt;</code>
    </span>
  </div>  
  <div class="table-full-width">
    <table class="striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>W-L Record</th>
          <th>Pts For</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>food fight</td>
          <td>8-4</td>
          <td>1,137.88</td>
        </tr>
        <tr class="bg-fail">
          <td>2</td>
          <td>Foxy Tacos</td>
          <td>7-5</td>
          <td>1,184.96</td>
        </tr>
        <tr>
          <td>3</td>
          <td>DorkTron</td>
          <td>7-5</td>
          <td>912.22</td>
        </tr>
        <tr>
          <td>4</td>
          <td>It's Just A Name</td>
          <td>6-6</td>
          <td>1,158.42</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>