<div class="container-narrow">
<h4 class="site-sub-subheader"><strong>Example: Simple Table</strong></h4>

<table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Bed Time</th>
      <th>Favorite Animal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Zoey</td>
      <td>4</td>
      <td>9:30</td>
      <td>Giraffe</td>
    </tr>
    <tr>
      <td>Haley</td>
      <td>2</td>
      <td>8:00</td>
      <td>Tiger</td>
    </tr>
    <tr>
      <td>Rylan</td>
      <td>1</td>
      <td>7:30</td>
      <td>TBD</td>
    </tr>
  </tbody>
</table>

<p class="explanation">&nbsp;</p>

<h4 class="site-sub-subheader"><strong>Example: Full Width + Striped</strong></h4>

<table class="full-width striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>W-L Record</th>
      <th>Pts For</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>food fight</td>
      <td>8-4</td>
      <td>1,137.88</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Foxy Tacos</td>
      <td>7-5</td>
      <td>1,184.96</td>
    </tr>
    <tr>
      <td>3</td>
      <td>DorkTron</td>
      <td>7-5</td>
      <td>912.22</td>
    </tr>
    <tr>
      <td>4</td>
      <td>It's Just A Name</td>
      <td>6-6</td>
      <td>1,158.42</td>
    </tr>
  </tbody>
</table>
</div>