<!DOCTYPE html>
<html>
  {% include head.html %}
  <style>
    #go-to-main{
      position: fixed;
      display: inline-block; 
      bottom: 10px; 
      right: 10px;
      line-height: 40px;
      transform:  translate(0%, 0%);
      background:  rgba(255,255,255,.4);
      border:  2px solid rgba(100,100,100,.4);
      padding: 0 10px;
      text-decoration : none;
    }
    #go-to-main:hover{ background: #5c97bf; color: #fff;};

  </style>
  <body>

    {{ content }}

    <a id="go-to-main" href="{{ "/portfolio.html" | prepend: site.baseurl | prepend: site.url }}">BACK</a> 
    <script src="../js/main.js"></script>
  </body>

</html>
